{
  "presets": ["env", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
		"mongo": "./mongo",
		"postgres": "./postgres",
        "models": "./postgres/models",
        "postgres-models": "./postgres/models",
        "postgres-controllers": "./postgres/controllers",
        "mongo-controllers": "./mongo/controllers",
        "mongoose-models": "./mongo/models",
        "controllers": "./controllers",
		"data": "./data",
		"utils": "./utils",
		"service": "./service",
		"config": "./config"
      }
    }]
  ]
}