{
  "presets": ["env", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "models": "./models",
        "controllers": "./controllers",
		"data": "./data",
		"utils": "./utils",
		"service": "./service",
		"config": "./config"
      }
    }]
  ]
}